<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CAPACITOR_DEBUG</key>
	<string>$(CAPACITOR_DEBUG)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Vibinn</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.937557434052-dj8h3e2pr7s85dmv4o4b2nttfjh40ma4</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>club.vibinn.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vibinn</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MixpanelProjectToken</key>
	<string>$(MIXPANEL_PROJECT_TOKEN)</string>
	<key>NativeAPIBaseURL</key>
	<string>$(NATIVE_API_BASE_URL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>BBHBartle-Regular.ttf</string>
		<string>PixelifySans-Regular.ttf</string>
		<string>PixelifySans-Bold.ttf</string>
		<string>PlusJakartaSans-Regular.ttf</string>
		<string>PlusJakartaSans-Medium.ttf</string>
		<string>PlusJakartaSans-SemiBold.ttf</string>
		<string>PlusJakartaSans-Bold.ttf</string>
		<string>PlusJakartaSans-ExtraBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Vibinn uses your camera so you can capture a square moment for your check-in and share where you went today.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Vibinn uses your photo library so you can pick a moment photo for your check-in and share your visit.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Vibinn may save edited check-in photos back to your library when you choose to use them for your post.</string>
	<key>NSContactsUsageDescription</key>
	<string>Vibinn uses your contacts to help you find friends who are already on Vibinn. We never store your full contact list.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Vibinn uses your location to show how far places are and personalize discovery around where you are.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Vibinn uses your location to show how far places are, improve discovery nearby, and make check-ins and recommendations feel relevant while you explore.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
